<div class="p-d-flex" flex>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Portal de Filmes</span>
            <span class="example-spacer"></span>
            <mat-icon >local_movies</mat-icon>
            <span class="end-toolbar-spacer"></span>
            <button mat-raised-button color="primary"><mat-icon>refresh</mat-icon> Recarregar</button>
            <a mat-raised-button class="github-button" href="https://github.com/GabrielSaliba/portal-filmes" target="_blank"><i class="pi pi-github"></i> Github</a>
        </mat-toolbar-row>
    </mat-toolbar>
</div>


<router-outlet></router-outlet>