.mat-card-movie {
    border: 1px solid #CFD8DC;
    border-radius: 4px 3px 6px / 2px 4px;
    margin: 5px;
}

.mat-card-title {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 15px;
    min-height: 30px;
}

.mat-card-content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 15px;
}

mat-card {
    padding: 0;
}
